{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>worksync</title>
    <!--here you can add base.css file where your whole body and whole project css written-->  
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    {% block css %}
    
    {% endblock  %}
</head>
<body>
    <nav>
        <a href="/">Home</a>
        {% if user.is_authenticated %}
            <form action="{% url "logout" %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
                <a href="{% url "dashboard" %}">Dashboard</a>
            </form>
        {% else %}
            <a href="{% url "signup" %}">Signup</a>
            <a href="{% url "login" %}">Login</a>
        {% endif %}
    </nav>

    <hr>

    {% block content %}
    {% endblock  %}
    
</body>
</html>