{% extends "base.html" %}
{% block css %}

{% endblock  %}

{% block content %}
<h3>Tasks</h3>
<a href="{% url "task_create" %}">Create New Task</a>

<form method="get">
    <input type="text" name="q" placeholder="search" value="{{ request.GET.q }}">
    <select name="priority" >
        <option value="">All </option>
        <option value="low">Low </option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
    </select>
    <select name="status" >
        <option value="">All</option>
        <option value="todo">To Do</option>
        <option value="in_progress">In Progress</option>
        <option value="completed">Completed</option>
    </select>
    <select name="ordering" >
        <option value="created_at">Oldest</option>
        <option value="-created_at">Newest</option>
    </select>
    <button type="submit">search</button>
</form>



<div class="tasks">
    {% for task in tasks %}
    {% for tag in task.tags.all %}
    <span>{{ tag.name }}</span>
    {% endfor %}
    <p>Title: {{ task.title }}</p>
    <p>Description: {{ task.description }}</p>
    <p>Priority: {{ task.priority }}</p>
    <p>Status: {{ task.status }}</p>
    <p>Due Date: {{ task.due_date }}</p>
    <p>category: {{task.category }}</p>
    <a href="{% url "task_update" task.id %}">Edit</a>
    <a href="{% url "task_delete" task.id %}">Delete</a>
    <a href="{% url "task_detail" task.id %}">Open</a>
</div>


{% endfor %}

<a href="{% url "category_list" %}">View All category</a>
<a href="{% url "tag_list" %}">View All Tags</a>
</div>
<div>
    {% if page_obj.has_previous %}
        <a href="?page=1">
            first
        </a>
        <a href="?page={{ page_obj.previous_page_number }}">
            Previous
        </a>
    {% endif %}
        <span>
            page {{ page_obj.number }}
            of 
            {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">
                Next
            </a>
            <a href="?page={{ page_obj.paginator.num_pages }}">
                Last
            </a>
        {% endif %}
</div>
{% endblock  %}